@import "../../app/globals.css";

.aside-container {
  @apply fixed top-0 left-0 flex flex-col w-[20%] h-[90%] my-10 mx-5 rounded-2xl text-white bg-[url('/aside-fondo-3.svg')] bg-cover bg-center shadow-[6px_2px_23px_-1px_#000000] bg-opacity-85;
}

footer {
  @apply flex flex-row items-center justify-center gap-4 m-2;
}

footer a {
  @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-125 duration-300 text-[2.5rem]
  /* @apply text-xl text-white hover:text-[#780000]; */;
}

/* From https://css.glass
background: rgba(204, 203, 203, 0.35);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(204, 203, 203, 1); */
