@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #0c0c0c;
  --background-secondary: #111111;
  --background-tertiary: #1e1e1e;
  --background-sidebar: #191919;
  --color-primary: #c1121f;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--background-primary);
}

.section-container-homepage {
  @apply flex items-center justify-between h-screen py-[4em] px-[8em] overflow-hidden bg-[--background-primary] z-20;
}
.div-container-img-homepage {
  @apply relative w-[40vw] mr-[4em] overflow-hidden animate-imgTransition;
}
.div-about-homepage {
  @apply w-[60vw] flex flex-col justify-center gap-y-10 text-balance text-center;
}
.div-link-homepage {
  @apply animate-pulse;
}

/* Media Queries RESPONSIVE */
@media (max-width: 768px), (hover: none) {
  /* Sección de la página de inicio */
  .section-container-homepage {
    @apply flex flex-col h-[100vh] py-[2em] px-[2em] overflow-hidden bg-[--background-primary] gap-y-8 z-20;
  }

  /* contenedor de la imagen */
  .div-container-img-homepage {
    @apply relative flex items-center justify-center w-[50vw] min-h-48 mr-0 overflow-hidden animate-imgTransition;
  }
  .div-container-img-homepage img {
    @apply rounded-lg;
  }

  /* Texto de la sección de acerca de mi */
  .div-about-homepage {
    @apply w-[60vw] h-full flex flex-col justify-start gap-y-4 text-balance text-center z-[100] bg-[--background-primary];
  }
  .div-about-homepage h1 {
    @apply text-2xl;
  }
  .div-about-homepage p {
    @apply text-xl;
  }

  /* Link para pestaña de about */
  .div-link-homepage a {
    @apply text-sm hover:no-underline;
  }
}
