@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #0c0c0c;
  --background-secondary: #111111;
  --background-sidebar: #191919;
  --color-primary: #c1121f;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
